.category-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
  gap: 1rem;
  margin: 1rem 0 0 2rem;
}

.category-name,
.category-name-active {
  font-size: 1.2rem;
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  font-weight: bold;
  color: var(--black-color);
  cursor: pointer;
}

.category-name-active {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
