@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

:root {
  --primary-color: #eceff1;
  --secondary-color: #37474f;
  --black-color: #222222;
  --background-color: #faf9f8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.home {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.default-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 80px);
}

.default-section > p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.default-section > button {
  max-width: 15rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 0.5rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
